body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 243, 117)
  }

  #word-section {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 60px;
  }

  @keyframes SMALLFontSize {
    0% {
      font-size: 0px;
    }
    100% {
      font-size: 60px;
      
    }
  }

.word3 {
    animation: SMALLFontSize 3s ease-in-out 1s both;
  }

  @keyframes BIGFontSize {
    0% {
      font-size: 0px;
    }
    100% {
      font-size: 80px;
    }
      
    }

  .word15 {
    animation: BIGFontSize 2.5s ease-in-out 7.5s both
  }

  .word15 {
    font-weight: bold;
  }

  .word15 a {
    text-decoration: none;
    outline: none;
    color: inherit;
  }

  .word-div .word15:hover {
    color: rgb(219, 185, 16);
}
    

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .word1 {
    animation: fadeIn 1s ease-in-out 0.5s both;
  }
  
  .word2 {
    animation: fadeIn 1s ease-in-out 1s both;
    color: rgb(219, 185, 16);
    font-size: 60px;
  }

  .word4 {
    animation: fadeIn 1s ease-in-out 2s both;
    color: rgb(219, 185, 16);
    font-size: 60px;
  }
  
  .word5 {
    animation: fadeIn 1s ease-in-out 2.5s both;
  }
  
  .word6 {
    animation: fadeIn 1s ease-in-out 3s both;
  }
  
  .word7 {
    animation: fadeIn 1s ease-in-out 3.5s both;
  }
  
  .word8 {
    animation: fadeIn 1s ease-in-out 4s both;
  }
  
  .word9 {
    animation: fadeIn 1s ease-in-out 4.5s both;
  }
  
  .word10 {
    animation: fadeIn 1s ease-in-out 5s both;
  }
  
  .word11 {
    animation: fadeIn 1s ease-in-out 5.5s both;
    color: rgb(219, 185, 16);
    font-size: 60px;
  }
  
  .comma {
    animation: fadeIn 1s ease-in-out 5.5s both;
    color: black;
    font-size: 60px;
  }
  
  .word12 {
    animation: fadeIn 1s ease-in-out 6s both;
    color: rgb(219, 185, 16);
    font-size: 60px;
  }
  
  .word13 {
    animation: fadeIn 1s ease-in-out 6.5s both;
  }
  
  .word14 {
    animation: fadeIn 1s ease-in-out 7s both;
  }
  
